#root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  position: relative;
  flex: 1 0 auto;
}

nav, .page-footer {
  background-color: #039be5;
}

.tag {
  position: relative;
  color: white;
  background: #4fc3f7;
  border: 2px solid #039be5;
  border-radius: 25px;
  padding: 10px;
  height: 90px;
  width: 200px;
  top: -20px;
  left: -30px;
}
