#root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  position: relative;
  flex: 1 0 auto;
}

nav, .page-footer {
  background-color: #039be5;
}

.gm-style:first-of-type > div:nth-child(1) {
  cursor: crosshair !important;
}

.tag-wrapper {
  position: relative;
  bottom: 101px;
  right: 99px;
  position: relative;
  height: 180px;
  width: 200px;
  font-size: 1.5rem;
  word-break: break-all;
  color: white;
  background: #4fc3f7;
  border: 2px solid #039be5;
  border-radius: 15px;
  padding: 10px;
}

.tag-wrapper:after, .tag-wrapper:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.tag-wrapper:after {
  border-color: rgba(79, 195, 247, 0);
  border-top-color: #4fc3f7;
  border-width: 10px;
  margin-left: -10px;
}
.tag-wrapper:before {
  border-color: rgba(3, 155, 229, 0);
  border-top-color: #039be5;
  border-width: 13px;
  margin-left: -13px;
}

.tag-age {
  position: absolute;
  font-size: 15px;
  bottom: 5px;
  right: 5px
}

.tag-add {
  float: right;
  background: #039be5;
  text-transform: none;
  height: 24px;
  line-height: 24px;
  padding: 0 0.5rem;
}

.tag-add:hover {
  background: #2980b9;
}

.tag-cancel {
  float: right;
  margin: -22px -5px 10px 0px;
  font-size: 20px;
  color: #2980b9;
  cursor: pointer;
}

.tag-textarea {
  color: #fff;
  height: 100px !important;
  font-size: 1.5rem !important;
  border-bottom: none !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.input-field label{
  color: #fff;
  text-align: center;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #fff;
}

textarea:focus {
  border-bottom: none!important;
  box-shadow: none!important;
}
