<% include ./_layout/header.ejs %>
    <script src="<%= timestampUrl('/public/release/index.bundle.js') %>"></script>
    <link rel="stylesheet" type="text/css" href="<%= timestampUrl('/public/release/index.bundle.css') %>">
  </head>
  <body>
    <h1>ChaTag</h1>
<% include ./_layout/footer.ejs %>
